.dark {
  background-color: gray;
  color: white;
}

.container {
  width: 15em;
  margin: 0 0.2em;
  float: left;
  position: relative;
}
.pic img {
  width: 100%;
}
.title {
  font-weight: bold;
  font-size: 1rem;
}
.channel,
.views {
  font-size: small;
  font-size: 0.9rem;
}

.views span {
  padding: 0 0.5em;
}

.delete {
  position: absolute;
  right: 0;
  top: 0;
}

.edit {
  position: absolute;
  right: 0;
  top: 50px;
}
